<footer>
    <div class="container">
        <span class="bigicon icon-speedometer "></span>
        <div class="footerlinks">
            <ul>
                <li>
                    <a href="#hero">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#testimonials">Testimonials</a>
                </li>
                <li>
                    <a href="mailto:mansurmustafoyevpro@gmail.com">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                <a href="#">MyApp</a>
                stands for Dribbble-Portolio. This is a free HTML template designed and coded by
                <a href="#">Creative Aliens</a>. All logo and images in
                this template used for preview purpose only. You are free to use the template
                but make sure to use your own images.
            </p>
        </div>
        <div class="footersocial wow fadeInUp" data-wow-duration="3s">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon-social-facebook"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-social-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-social-youtube"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-social-dribbble"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-social-tumblr"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>