<div id="testimonials" class="container">
    <div class="sectionhead wow bounceInUp" data-wow-duration="2s">
        <span class="bigicon icon-bubbles"></span>
        <h3>This is what I love to listen</h3>
        <h4>Expedita nobis natus doloribus blanditiis quos, atque voluptatem, veritatis
            soluta eveniet ea!</h4>
        <hr class="separetor"></div>
        <div class="row">
            <div class="col-md-6 wow bounceIn" data-wow-duration="2s">
                <div class="clientsphoto">
                    <img src="img/dan.jpg" alt="Dan"></div>

                    <div class="quote">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia et pariatur
                                ipsam tempora officia ea iusto expedita, nulla, hic odit saepe repellat nesciunt
                                dolorum, officiis laborum ad, aliquam. Quos, et.</p>
                        </blockquote>
                        <h5>Dan Cederholm</h5>
                        <p>Co-Founder, Dribbble</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>